extends layout

block content
  h1 Agenda de Eventos
  table(border="1")
    tr
      th Data
      th Título
      th Local
      th Participantes
    each e in lista
      tr
        td= e.data
        td= e.titulo
        td= e.local
        td
          ul
            each p in e.participantes
              li= p
    
